<launch>
  <!-- OpenVINS subscribe node + imu/base_link extrinsics + odom frame transformer -->
  <arg name="config" default="rs_d435i"/>
  <arg name="verbosity" default="INFO"/>
  <arg name="max_cameras" default="2"/>
  <arg name="use_stereo" default="true"/>
  <arg name="dobag" default="false"/>
  <!-- estimator_preset:=default -> estimator_config.yaml | estimator_preset:=sp -> estimator_config_sp.yaml -->
  <arg name="estimator_preset" default="default"/>

  <group if="$(eval arg('estimator_preset') == 'sp')">
    <include file="$(find ov_msckf)/launch/subscribe.launch">
      <arg name="verbosity" value="$(arg verbosity)"/>
      <arg name="config" value="$(arg config)"/>
      <arg name="estimator_yaml" value="estimator_config_sp.yaml"/>
      <arg name="max_cameras" value="$(arg max_cameras)"/>
      <arg name="use_stereo" value="$(arg use_stereo)"/>
      <arg name="dobag" value="$(arg dobag)"/>
    </include>
  </group>
  <group unless="$(eval arg('estimator_preset') == 'sp')">
    <include file="$(find ov_msckf)/launch/subscribe.launch">
      <arg name="verbosity" value="$(arg verbosity)"/>
      <arg name="config" value="$(arg config)"/>
      <arg name="estimator_yaml" value="estimator_config.yaml"/>
      <arg name="max_cameras" value="$(arg max_cameras)"/>
      <arg name="use_stereo" value="$(arg use_stereo)"/>
      <arg name="dobag" value="$(arg dobag)"/>
    </include>
  </group>
  <include file="$(find ov_msckf)/launch/vio_tf_static_odom.launch"/>
</launch>
