<launch>
  <!-- imu -> base_link extrinsic -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_base_link_static"
        args="0 0.0402 -0.0896 0.0 -1.57 1.57 imu base_link" />

  <!-- OpenVINS odom -> base_link in global frame (requires world->global TF from elsewhere if needed) -->
  <node pkg="ov_msckf" type="tf_odom_rot.py" name="odom_frame_transformer" output="screen" />
</launch>
